<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
    <div class="flex items-center gap-4 ">
      <a href="/">
        <h1 class="text-3xl font-bold text-gray-800 mb-2">ToolScout</h1>
      </a>
    </div>
  </div>
</header>
<main>
  <div>
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
